{% if not layouts is defined %}
    {% set layouts = post.get_field('modular_layout') %}
{% endif %}

{% for layout in layouts %}
    {% set module = layout.acf_fc_layout %}

    {% if module == 'one_col' %}

    <section class='l-section'>
        <div class='l-section__content'>
            <div class='l-module--1col u-margin-bottom-0  {{layout.position == "left" ? "u-flex-justify-left"}} {{layout.position == "right" ? "u-flex-justify-right"}}'>
                <div>
                    {{layout.content}}
                </div>
            </div> 
        </div>
    </section>

    {% elseif module == 'one_col_tip' %}

    <section class='l-section'>
        <div class='l-section__content'>
            <div class='l-module--1col-tip u-margin-top-0 u-margin-bottom-0'>
                <div>
                    {{layout.content}}
                </div>
                <div>
                    <span class='o-label u-block u-color-secondary-accent'>{{layout.tip.label}}</span>
                    <p class='u-color-secondary-dark'>{{layout.tip.description}}</p>
                </div>
            </div>
        </div>
    </section>

    {% elseif module == 'two_col' %}

    <section class='l-section'>
        <div class='l-section__content'>
            {% if not layout.heading is empty %}
            <div class='l-module--2col'>
                <div>
                    <h3 class='u-flex-full'>{{layout.heading}}</h3> 
                </div>
            </div>
            {% endif %}
            <div class='l-module--2col u-margin-bottom-0'>
                <div>{{layout.first_column}}</div>
                <div>{{layout.second_column}}</div>
            </div>
        </div>
    </section>

    {% elseif module == 'img' %}

    <section class='l-section'>
        <div class='l-section__content'>
            <figure class='l-module--img{{layout.wide_image ? "-wide"}}'>
                <img src='{{TimberImage(layout.image).src}}'>
                <figcaption>{{layout.caption}}</figcaption>
            </figure>
        </div>
    </section>

    {% elseif module == 'full_img' %}
    
    <section class='l-section'>
        <div class='l-section__content'>
            <figure class='l-module--img-full'>
                <img src='{{TimberImage(layout.image).src }}'>
                <figcaption>{{layout.caption}}</figcaption>
            </figure>
        </div>
    </section>

    {% elseif module == 'pointers' %}

    <section class='l-section'>
        <div class='l-section__content'>
            {% if not layout.heading is empty %}
                <div class='l-module--3col'>
                    <div>
                        <h3 class='u-flex-full'>{{layout.heading}}</h3> 
                    </div>
                </div>
            {% endif %}
            <div class='l-module--3col u-margin-bottom-0'>
                {% for point in layout.points %}
                    <div class='u-margin-bottom-1'>
                        <h4 class='o-label--secondary u-color-primary'>{{point.title}}</h4>
                        <p>{{point.description}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </secition>

    {% endif %}

    {% block custom_layouts %}
    {% endblock %}
{% endfor %}