<div class='m-share'>   
    <span class='o-label'>Share</span>
    <ul class='m-menu u-margin-top--1 u-margin-bottom-0'>
        <li><a href='http://www.facebook.com/sharer.php?u={{post.link}}' target='_blank' style='color:#3b5998;'><span class='fa fa-facebook'></span></a></li>
        <li><a href='https://twitter.com/share?url={{post.link}}&amp;text={{"Chinatown Society Heritage Building Association - CSHBA" | url_encode }}&amp;hashtags=chinatownvancouver' target='_blank' style='color:#55acee;'><span class='fa fa-twitter'></span></a></li>
        <li><a href='https://plus.google.com/share?url={{post.link}}' target='_blank' style='color:#dd4b39;'><span class='fa fa-google-plus'></span></a></li>
        <li><a href='mailto:?Subject={{wp_title}}&amp;Body={{post.link}}' style='color:#ACACAC'><span class='fa fa-envelope'></span></a></li>
    </ul>
    <a class='o-button--link-secondary u-type-respond--1' href='javascript:window.print();'><span class='fa fa-print'></span> Print this page</a>
</div>