<footer class='l-footer u-margin-top-6'>
    <div class="l-footer__main">
        <div class='l-footer__section'>
            <a href='{{site.link}}'><img class='u-image-no-responsive u-image-no-shadow' src='{{theme.link}}/images/logo-white.png'></a>
            <p class='u-color-white'>{{options.footer.details}}</p>
        </div>
        <div class='l-footer__section'>
            <ul class='m-menu--vertical'>
                <li class='u-padding-bottom-1'><h5 class='u-color-background u-margin-top-none'>Navigation</h5></li> 
                {% for item in menu.items %}
                    <li class='u-padding-bottom-1'><a href='{{item.link}}' target='{{item.target}}' class='o-label'>{{item.title}}</a></li> 
                {% endfor %}
            </ul>
        </div>
        <div class='l-footer__section'>
            <ul class='m-menu--vertical'>
                <li class='u-padding-bottom-1'><h4 class='u-margin-top-none u-color-background'>Get updates about new tours,<br>travel tips, photo guides and more!</h4></li> 
                <li>
                    <form class='o-form__email-sub'>
                        <input type='email' placeholder='Enter your e-mail...'><button type='submit'>Submit</button>
                    </form>
                </li>
                <li class='u-padding-bottom-1'><p class='u-color-dark'>We promise to never share your email with third parties.</p></li>
            </ul>
        </div>
        <div class='l-footer__section'>
            <ul class='m-menu--vertical'>
                <li class='u-padding-bottom-1'><a href='{{site.link}}/donate' class='o-button--solid u-inline-block'>Donate</a></li>
                {% embed 'modules/social-media.twig' %}{% endembed %}
            </ul>
        </div>
    </div>
    <div class='l-footer__sub'>
        <div class="l-grid">
            <p>Copyright {{'now'|date('Y')}} &copy; All Rights Reserved. Chinatown Society Heritage Building Association</p>
        </div>
    </div>

    {{function('wp_footer')}}
</footer>