<html>
    <head>
        <title>
            {% if wp_title %}
                {{wp_title}} - {{site.name}}
            {% else %}
                {{site.name}}
            {% endif %}
        </title>

        <!-- meta -->
        <meta charset='{{site.charset}}'>
        <meta name='viewport' content='initial-scale=1, minimum-scale=1, maximum-scale=1'>

        <!-- styles -->
        {% block styles %}
        {% endblock %}
        <link rel='stylesheet' type='text/css' href='{{theme.link}}/style.css'>
        <link rel='pingback' href='{{site.pingback_url}}'>

        {{function('wp_head')}}
    </head>

    <body>