<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': true} %}

        <header class='l-homepage__header'>
            <div class='l-header__bg' style='background-image: url("{{theme.link}}/images/homepage-header.png");'></div>
            <div class='l-grid u-padding-top-7 u-type-center'>
                <h1 class='u-color-background u-inline-block u-type-contain-large'>{{post.get_field('intro_title')}}</h1>
                <p class='u-type-subtitle u-type-contain u-margin-auto u-color-secondary'>{{post.get_field('intro_subtitle')}}</p>
            </div>

            <section class='l-homepage__detail'>
                <div class='l-header__content u-padding-top-4 u-padding-bottom-7 u-type-center'>
                    <p class='u-color-background l-block--centered'>{{post.get_field('intro_description')}}</p>
                </div>
            </section>
        </header>

        <section id='instafeed' class="l-section l-homepage__instagram">
            <a href='http://instagram.com/{{post.get_field("instagram_username")}}' target='_blank' class='o-button--solid'>Follow Us On Instagram <span class='fa fa-instagram'></span></a>
        </section> 

        <section class="l-section u-margin-top-6">
            <div class="l-section__content u-flexbox-align-center">
                <div class='l-block u-margin-right-gutter u-margin-bottom-3 u-margin-top-3'>
                    <h2><span class='u-block o-label u-margin-bottom-0'>About Us</span> {{post.get_field('about_title')}}</h2>
                    <p>{{post.get_field('about_description')}}</p>
                    <a class='o-button--solid u-inline-block' href='{{site.link}}/about-us'>Learn Our Story</a>
                </div>
                <div class='l-block l-homepage__about-image'> 
                    <img src='{{TimberImage(post.get_field('about_image')).src ?: theme.link ~ "/images/homepage-about.jpg" | resize(500,300) }}'>
                </div>
            </div>
        </section>

        <section class="l-homepage__society">
            <div class='l-section__bg' style='background-image: url("{{theme.link}}/images/homepage-society.png"); background-size: auto 100%;'></div>
            <div class="l-section__content">
                <div class='l-block u-margin-right-gutter'>
                    <h2 class='u-stroke-3 u-margin-none'>{{post.get_field('society_title')}}</h2>
                </div>
                <div class='l-block'> 
                    <p>{{post.get_field('society_description')}}</p>
                </div>
            </div>
        </section>

        <section class="l-section u-margin-top-4">
            <div class='l-section__content u-flex-justify-start u-margin-bottom-4'>
                <h3>Societies with Heritage Buildings <span class="o-label u-margin-left-0">12 Buildings</span></h3>
            </div>
            <div class='l-homepage__slider'>
                {% for society in societies %}
                    <div class='l-homepage__slider-item'>
                        <a href='{{society.link}}'><img src='{{society.thumbnail|resize(500,400,"center")}}'></a>
                        <a href='{{society.link}}'>
                            <h4 class='u-margin-bottom-none'>{{society.title}}</h4>
                            <p class='o-label--secondary u-margin-none'>{{society.chinese_title}}</p>
                        </a>
                        <p>{{society.intro_description | excerpt(40)}}</p>
                        <a href='{{society.link}}' class='o-button--link-secondary'>Explore Society</a>
                    </div>
                {% endfor %}
                
                <div class='u-type-center'>
                    <span class='o-label u-block u-margin-bottom-1 u-margin-top-9'>Interested?</span>
                    <a class='o-button--secondary u-inline-block' href='{{site.link}}/societies#soc'>View All Buildings</a>
                </div>
            </div>
            <div class='l-grid u-type-center u-margin-top-6'>
                <a class='o-button--solid u-inline-block' href='{{site.link}}/societies'>Learn The History</a>
            </div>
        </section> 


        <section class="l-section u-margin-top-6 u-margin-bottom-6 u-padding-top-5 u-padding-bottom-5">
            <div class='l-section__bg' style='background-image: url("{{theme.link}}/images/homepage-brush-2.png"); background-position: center;'></div>
            <div class="l-section__content u-flexbox-align-center">
                <div class='l-block'> 
                    <img src='{{TimberImage(post.get_field('about_image')).src ?: theme.link ~ "/images/homepage-initiatives.jpg" | resize(500,300) }}'>
                </div>
                <div class='l-block u-margin-left-gutter u-margin-bottom-3 u-margin-top-3'>
                    <h2 class='u-margin-top-none'><span class='u-block o-label u-color-secondary-accent-2 u-margin-bottom-0'>On The Initiative</span>{{post.get_field('initiatives_title')}}</h2>
                    <p>{{post.get_field('initiatives_description')}}</p>
                    <a class='o-button--solid u-inline-block' href='{{site.link}}/initiatives'>See Our Impact</a>
                </div>
            </div>
        </section>


        <section class="l-section">
            <div class="l-section__content u-flex-justify-center" style='align-items:flex-start;'>
                <div class='l-homepage__initiatives-list'>
                    <div class="l-grid u-margin-top-none u-margin-left-none u-padding-left-none u-margin-bottom-3">
                        <span class='o-label'>Latest Initiatives</span>
                    </div>
                    
                    {% for init in initiatives %}
                    <div class='l-homepage__initiatives-list-item'>
                        <a class='u-block' href='{{init.link}}'><img src='{{TimberImage(init.thumbnail).src|resize(300,200,"center")}}'></a>
                        <div>
                            <a href='{{init.link}}'><h4 class='u-margin-top-none'>{{init.title}}</h4></a>
                            <p>{{init.initiative_summary | excerpt(15) }}</p>
                            <a class='o-button--link-secondary' href='{{init.link}}'>Learn More</a>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="l-grid u-type-center u-margin-top-3">
                        <a class='o-button u-inline-block' href='{{site.link}}/initiatives#init'>View All Initatives</a> 
                    </div>
                </div>

                <div class='l-homepage__twitter'>
                    <span class='o-label u-block u-margin-bottom-3'>Latest Tweets <a href='{{post.get_field('twitter_link')}}' target='_blank'><span class='o-label--link'>@CSHBA</a></span>
                    <a class="twitter-timeline" data-height="600" data-theme="light" data-link-color="#BF1534" href="{{post.get_field('twitter_link')}}">Chinatown Tweets - Curated tweets by CSHBA</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </section>

        <div class='l-section u-margin-top-6 u-margin-bottom-neg-6'>
            <div class='l-section__content u-padding-top-4 u-padding-bottom-5'>
                <div class='l-section__bg' style='z-index: 0; background-image: url("{{theme.link}}/images/bg-cta.jpg"); background-position: bottom center;'></div>
                <div class='l-section__bg' style='z-index: 0; background: rgba(0,0,0,0.2);'></div>
                <div class='l-block' style='z-index: 1;'>
                    <h3 class='u-color-secondary u-type-contain u-margin-bottom-0'>Have any stories about the<br>culture and life of Chinatown?<br>We’d love to hear from you.</h3>
                </div>
                <div class='l-block' style='z-index: 1;'>
                    <p class='u-color-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo mollitia iure odio voluptatem recusandae excepturi.</p>
                    <form class='o-form__email-sub-white' action='https://vcshba.us16.list-manage.com/subscribe/post' method='POST'>
                        <input type="hidden" name="u" value="1b0bd2a4b553415a759806905">
                        <input type="hidden" name="id" value="7712166c20">
                        <input name='MERGE0' id='MERGE0' type='email' placeholder='Enter your e-mail...'><button type='submit'>Submit</button>
                    </form>
                </div>
            </div>
        </div>

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}  
            {% block scripts %}
                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js'></script>
                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js'></script>
                
                <script type='text/javascript'>
                    $('.l-homepage__slider').slick({
                        centerMode: true,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: false,
                        arrows: true,
                        responsive: [
                            {
                                breakpoint: 900,
                                settings: {
                                    slidesToShow: 2
                                }
                            },
                            {
                                breakpoint: 700,
                                settings: {
                                    slidesToShow: 1
                                }
                            }
                        ]
                    });
                    
                    var feed = new Instafeed({
                        get: 'user',
                        sortBy: 'most-recent',
                        resolution: 'low_resolution',
                        limit: 6,

                        clientId: '{{post.get_field("instagram_client_id")}}',
                        accessToken: '{{post.get_field("instagram_access_token")}}',
                        userId: '{{post.get_field("instagram_user_id")}}'
                    });
                    feed.run();
                </script>
            {% endblock %}    
        {% endembed %}     
    </body>
</html>