<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/main-header.twig' %}

    <section class='l-about__vision'>
        <div class='l-section__content u-margin-none u-flex-justify-left' style='max-width:none'>
            <div class='l-section__bg' style='background-image: url("{{theme.link}}/images/about-vision-bg.png");'></div>
            <div class='l-about__vision-chinese'>
                <p>
                    <img class='l-about__stamp-vision' src='{{theme.link}}/images/vision-stamp.svg' alt='stamp'>
                    {{post.get_field('our_vision_chinese')}}
                </p>
            </div>
        </div>

        <div class="l-section__content u-flex-justify-right">
            <div class='l-about__vision-english'>
                <p class='u-type-respond-1'><span class='o-label u-color-primary u-block u-margin-bottom-0'>Our Vision</span> {{post.get_field('our_vision_english_meaning')}}</p>
                <p>{{post.get_field('our_vision_english_description')}}</p>
            </div>
        </div>
    </section>

    <section class='l-about__values'>
        <div class='l-about__slider'>
            {% for value in post.get_field('our_values') %}
                <div class="l-section">
                    <div class="l-section__content u-flexbox-align-center">
                        <div class='l-block'> 
                            <img src='{{TimberImage(value.image).src | resize(500,300,"center")}}'>
                        </div>
                        <div class='l-block u-margin-left-gutter u-margin-bottom-3 u-margin-top-3'>
                            <h3 class='u-margin-top-none'><span class='u-block o-label u-color-secondary-accent u-margin-bottom-0'>Core Values</span>{{value.chinese}}<br>&mdash; {{value.english}}</h3>
                            <p>{{ value.description }}</p>
                            <p class='u-type-subtitle u-color-secondary-accent u-margin-none'>{{ "%02d"|format(loop.index) }} / {{ "%02d"|format(loop.length) }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <img class='l-about__stamp-values' src='{{theme.link}}/images/values-stamp.svg' alt='stamp'>
    </section>

    <section class='l-about__mission'>
        <div class='l-section__content u-flex-justify-left' style='max-width:1400px;'>
            <div>
                <p class='u-type-respond-2 u-type-bold u-type-contain'>{{post.get_field('our_mission_chinese')}}</p> 
                <h3 class='o-label u-color-primary u-margin-bottom-1'>Our Mission</h3>
                <p class='u-type-respond-1 u-type-contain'>{{post.get_field('our_mission_english_meaning')}}</p> 
                <p class='u-type-contain'>{{post.get_field('our_mission_english_description')}}</p> 
            </div> 
        </div>
    </section>

    <section class='l-about__directors'>
        <div class='l-section__content'>

            <div class='l-module'>
                {% set directors = post.get_field('board_of_directors_directors') %}

                <h3 class='o-label u-type-center u-flex-full'>Board of Directors</h3>
                {% for director in directors %}
                    <div class='l-about__directors-director'>
                        <div class='director__image'>
                            <img src='{{TimberImage(director.image).src|resize(400,300,"center")}}'>
                        </div>
                        <div>
                            <h4 class='u-margin-top-none'>{{director.name}} <span class='o-label--secondary u-color-primary u-block'>{{director.title}}</span></h4>
                            <ul class='m-menu u-flex-wrap'>
                                {% for media in director.social_media %}
                                <li class='u-margin-bottom-0'><a class='o-button--link-secondary u-type-respond--1' target='_blank' style='color:{{media.social_media_colour}}' href='{{media.social_media_link}}'><span class='fa fa-{{media.social_media_icon}}'></span> @{{director.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>  
    </section>

        {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}  
            {% block scripts %}
                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js'></script>
                
                <script type='text/javascript'>
                    $('.l-about__slider').slick({
                        centerMode: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: false,
                        arrows: true
                    });
 
                </script>
            {% endblock %}    
        {% endembed %}         
    </body>
</html>