<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/main-header.twig' %}

        {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}

        <section id='soc' class='l-section u-color-bg-alternate u-margin-top-3 u-margin-bottom-neg-7'>
            <div class='l-section__content u-padding-top-3 u-padding-bottom-6'>
                <div class="l-module--1col u-flex-justify-left">
                    <h2>{{post.get_field('society_title')}}</h2>
                    <p class='u-type-respond-1 u-type-contain-large' style='color:#383838;'>{{post.get_field('society_description')}}</p>
                </div>

                <div class='l-module u-margin-top-3 u-margin-bottom-2'>
                    <span class='o-label u-block'>{{societies|length}} Buildings With Heritage Status</span>
                </div>

                {% for society in societies %}
                    <div class='l-module__society-list'> 
                        <div>
                            <a href='{{society.link}}'><img src='{{society.thumbnail|resize(500,300)}}'></a>
                        </div>
                        <div>
                            <a href='{{society.link}}'><h3 class='u-margin-none'>{{society.title}}</h3></a>
                            <p class='u-block u-margin-top-none'>{{society.chinese_title}}</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sunt a molestias! Aperiam eos possimus repudiandae exercitationem sapiente beatae aliquam officia! Voluptatem, corrupti. Repellendus, et eligendi cupiditate magnam excepturi quaerat.</p>

                            <ul class='m-menu'>
                                <li><a href='{{society.link}}' class='o-button--link-secondary'>Learn More</a></li>
                                <li class='o-label u-block u-type-bold u-type-size--1 u-type-family-secondary'>Built on {{society.built_on}}</li>
                            <ul>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>

        {% include 'layout/footer.twig' %}
        {% embed 'layout/scripts.twig' %}{% endembed %}    
    </body>
</html>