<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/main-header.twig' %}

        {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}

        <section id='init' class='l-section u-color-bg-alternate u-margin-top-7 u-margin-bottom-4'>
            <div class='l-section__content u-padding-top-2 u-padding-bottom-5'>
                <h3 class='u-flex-full u-type-center u-padding-bottom-0' style='border-bottom: 1px solid #dcdcdc;'>Our Initiatives</h3>
                <div class='l-module'>
                    {% for init in initiatives %}
                        <div class='l-module__initiative-list u-margin-top-3'>
                            <a href='{{init.link}}'><img src='{{init.thumbnail.src|resize(500,300,"center")}}'></a>
                            <div>
                                <a href='{{init.link}}'><h4>{{init.title}}</h4></a>
                                <p>{{init.initiative_summary | excerpt(20)}}</p>
                                <a class='o-button--link-secondary' href='{{init.link}}'>Learn More</a>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
            </div>
        </section>
    
        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module'>
                    <h3>Relevant Studies</h3>

                    {% for study in post.get_field('studies') %}
                        <div class='l-module__initiative-study u-margin-top-1'>
                            <h4 class='u-margin-top-none'><a class='u-color-heading' href='{{study.link}}'>{{study.title}}</a></h4>
                            <p class='u-margin-top-none'><span class='o-label u-block u-margin-bottom-0'>Summary</span> {{study.summary}}</p>
                            <div>
                                <span class='o-label'>Published</span>
                                <p>{{study.published}}</p>
                            </div>
                            <a class='o-button--link' href='{{study.link}}' target='_blank'>Link</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'layout/footer.twig' %}
        {% embed 'layout/scripts.twig' %}{% endembed %}    
    </body>
</html>