<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}

        <header class='l-header--respond u-stroke-edge-1 u-margin-bottom-7'>
            <div class='l-header__bg' style='background-image:url("{{post.thumbnail.src}}");'></div>
            <div class='l-section__content u-padding-top-7 u-padding-bottom-5'>
                <div class='u-type-center'>
                    <h1 class='u-stroke-text u-type-contain-large'>{{post.get_field('intro_title') ?: wp_title}}<span>華埠僑團傳 統建築協會</span></h1>
                    <p class='u-type-subtitle u-color-dark'>{{post.get_field('intro_subtitle')}}</p>
                </div>
            </div>
        </header> 

        {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}

        <section class='l-section u-color-bg-alternate u-margin-top-4 u-margin-bottom-neg-7'>
            <div class='l-section__content u-padding-top-2 u-padding-bottom-7'>
                <div class='l-module'>
                    <h3>Societies with Heritage Buildings <span class='o-label u-margin-left-0'>12 Buildings Total</span></h3>

                    {% for society in societies %}
                        <div class='l-module__society-list u-margin-top-2'>
                            <img class='u-margin-bottom-2' src='http://placehold.it/500x300'>
                            <div>
                                <a href='#'><h4 class='u-margin-top-none u-color-primary'>{{society.title}}</h4></a>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero eligendi sed dignissimos reprehenderit sunt rem necessitatibus? Blanditiis soluta delectus accusamus maxime amet nisi eos quisquam eum sit minima! Dignissimos, sapiente?</p>
                                <a class='o-button--link-secondary' href='{{society.link}}'>Learn More</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'layout/footer.twig' %}
        {% embed 'layout/scripts.twig' %}{% endembed %}    
    </body>
</html>