<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': true} %}

        <header class='l-header--respond u-stroke-edge-1 u-margin-bottom-7'>
            <div class='l-header__bg' style='background-image:url("{{post.thumbnail.src}}");'></div>
            <div class='l-section__content u-padding-top-7 u-padding-bottom-5'>
                <div class='u-type-center'>
                    <h1 class='u-stroke-text u-color-white u-type-contain-large'>{{post.get_field('intro_title') ?: wp_title}}</h1>
                    <p class='u-type-subtitle u-color-white'>{{post.get_field('intro_subtitle')}}</p>
                </div>
            </div>
        </header> 

        {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}

        <section id='init' class='l-section u-color-bg-alternate u-margin-top-4 u-margin-bottom-4'>
            <div class='l-section__content u-padding-top-2 u-padding-bottom-5'>
                <div class='l-module'>
                    <h3>Our Initiatives</h3>

                    {% for init in initiatives %}
                        <div class='l-module__initiative-list u-margin-top-2'>
                            <a href='{{init.link}}'><img src='{{init.thumbnail.src|resize(400,300,"center")}}'></a>
                            <div>
                                <a href='{{init.link}}'><h4>{{init.title}}</h4></a>
                                <p>{{init.initiative_summary}}</p>
                                <a class='o-button--link-secondary' href='{{init.link}}'>Learn More</a>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
            </div>
        </section>
    
        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module'>
                    <h3>Relevant Studies</h3>

                    <div class='l-module__initiative-study u-margin-top-1'>
                        <h4 class='u-margin-top-none'>Revitalizing Chinatown in Downtown Vancouver</h4>
                        <p class='u-margin-top-none'><span class='o-label u-block u-margin-bottom-0'>summary</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam harum labore itaque facilis officiis commodi laudantium autem, minima corporis debitis.</p>
                        <div>
                            <span class='o-label'>Published</span>
                            <p>July 23, 2017</p>
                        </div>
                        <a class='o-button--link' href='#'>Link <span class='fa fa-link u-margin-left--1'></span></a>
                    </div>
                    <div class='l-module__initiative-study'>
                        <h4 class='u-margin-top-none'>Revitalizing Chinatown in Downtown Vancouver</h4>
                        <p class='u-margin-top-none'><span class='o-label u-block u-margin-bottom-0'>summary</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam harum labore itaque facilis officiis commodi laudantium autem, minima corporis debitis.</p>
                        <div>
                            <span class='o-label'>Published</span>
                            <p>July 23, 2017</p>
                        </div>
                        <a class='o-button--link' href='#'>Link <span class='fa fa-link u-margin-left--1'></span></a>
                    </div>
                    <div class='l-module__initiative-study'>
                        <h4 class='u-margin-top-none'>Revitalizing Chinatown in Downtown Vancouver</h4>
                        <p class='u-margin-top-none'><span class='o-label u-block u-margin-bottom-0'>summary</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam harum labore itaque facilis officiis commodi laudantium autem, minima corporis debitis.</p>
                        <div>
                            <span class='o-label'>Published</span>
                            <p>July 23, 2017</p>
                        </div>
                        <a class='o-button--link' href='#'>Link <span class='fa fa-link u-margin-left--1'></span></a>
                    </div>
                    <div class='l-module__initiative-study'>
                        <h4 class='u-margin-top-none'>Revitalizing Chinatown in Downtown Vancouver</h4>
                        <p class='u-margin-top-none'><span class='o-label u-block u-margin-bottom-0'>summary</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam harum labore itaque facilis officiis commodi laudantium autem, minima corporis debitis.</p>
                        <div>
                            <span class='o-label'>Published</span>
                            <p>July 23, 2017</p>
                        </div>
                        <a class='o-button--link' href='#'>Link <span class='fa fa-link u-margin-left--1'></span></a>
                    </div>
                </div>
            </div>
        </section>

        {% include 'layout/footer.twig' %}
        {% embed 'layout/scripts.twig' %}{% endembed %}    
    </body>
</html>