<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}

      <body class='l-society__bg'> 

        <header class='l-society__header'>
            <div class='l-header__content u-padding-top-5'>
                <div class='l-block u-type-center'>
                    <img class='u-image-no-shadow u-image-no-responsive' src='{{theme.link}}/images/society-label.svg'>
                    <h1 class='u-margin-bottom-none u-color-primary'>{{wp_title}}</h1>
                    <p class='l-society__subtitle'>{{post.get_field('chinese_title')}}</p>
                </div>
            </div>
        </header>

        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module--1col'>
                    <div>
                        <p class='u-dropcap'>{{post.get_field('intro_description')}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class='l-section'>
            <div class='l-section__content'>
                {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}
            </div>  
        </section>

        <section class='l-section'>
            <div class='l-section__bg-container u-margin-top-5 u-margin-bottom-2'>
                <div class='l-section__bg' style='background-image: url("{{post.get_field("intro_image") ?: post.thumbnail.src}}"); background-size: cover; background-position: center;'></div>
            </div>
        </section>

        <section class='l-section u-margin-top-2'> 
            <div class='l-section__content'>
                <div class='l-society__details'>
                    <div class='l-society__details-item'>
                        <span class='o-label u-block u-margin-bottom-0'>Location</span>
                        <a class='o-link' href='#'>137-139 E Pender St</a> 
                    </div>
                    <div class='l-society__details-item'>
                        <span class='o-label u-block u-margin-bottom-0'>Built in</span>
                        <p>December 21, 1913</p>
                    </div>
                    <div class='l-society__details-item'>
                        <span class='o-label u-block u-margin-bottom-0'>Heritage Class</span>
                        <p>Building Social and Community Life</p>
                    </div>
                    <div class='l-society__details-item'>
                        <span class='o-label u-block u-margin-bottom-0'>Heritage Class</span>
                        <p>Yes</p> 
                    </div>
                </div>
            </div>
        </section>

        <section class='l-section u-margin-bottom-3'>
            <div class='l-section__content'>
                <div class='l-module--2col'>
                    <div>
                        <h3 class='u-flex-full'>Away From it All</h3> 
                    </div>
                </div>
                <div class='l-module--2col'>
                    <div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam impedit, amet nesciunt id et magni maxime doloribus dolor dolorum repellat perferendis cumque aliquid laudantium officia quaerat voluptatum maiores, enim deserunt.</p></div>
                    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quos labore voluptates blanditiis deleniti tempora quae, ducimus doloribus itaque debitis repudiandae adipisci at exercitationem nemo.</p></div>
                </div>
            </div>
        </section>

        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module--3col'>
                    <div>
                        <h3 class='u-flex-full'>Milestones</h3> 
                    </div>
                </div>
                <div class='l-module--3col'>
                    <div class='u-margin-top-1'>
                        <h4 class='o-label--secondary u-color-dark'>Traditional Accommodations</h4>
                        <p>For most people, traveling to Japan is a once in a lifetime opportunity. If you're traveling to Japan, leave the guesswork out and don't worry about logistics. We'll take your specific interests and intentionally craft the perfect trip for you.</p>
                    </div>
                    <div class='u-margin-top-1'>
                        <h4 class='o-label--secondary u-color-dark'>Traditional Accommodations</h4>
                        <p>For most people, traveling to Japan is a once in a lifetime opportunity. If you're traveling to Japan, leave the guesswork out and don't worry about logistics. We'll take your specific interests and intentionally craft the perfect trip for you.</p>
                    </div>
                    <div class='u-margin-top-1'>
                        <h4 class='o-label--secondary u-color-dark'>Traditional Accommodations</h4>
                        <p>For most people, traveling to Japan is a once in a lifetime opportunity. If you're traveling to Japan, leave the guesswork out and don't worry about logistics. We'll take your specific interests and intentionally craft the perfect trip for you.</p>
                    </div>
                    <div class='u-margin-top-1'>
                        <h4 class='o-label--secondary u-color-dark'>Traditional Accommodations</h4>
                        <p>For most people, traveling to Japan is a once in a lifetime opportunity. If you're traveling to Japan, leave the guesswork out and don't worry about logistics. We'll take your specific interests and intentionally craft the perfect trip for you.</p>
                    </div>
                    <div class='u-margin-top-1'>
                        <h4 class='o-label--secondary u-color-dark'>Traditional Accommodations</h4>
                        <p>For most people, traveling to Japan is a once in a lifetime opportunity. If you're traveling to Japan, leave the guesswork out and don't worry about logistics. We'll take your specific interests and intentionally craft the perfect trip for you.</p>
                    </div>
                    <div class='u-margin-top-1'>
                        <h4 class='o-label--secondary u-color-dark'>Traditional Accommodations</h4>
                        <p>For most people, traveling to Japan is a once in a lifetime opportunity. If you're traveling to Japan, leave the guesswork out and don't worry about logistics. We'll take your specific interests and intentionally craft the perfect trip for you.</p>
                    </div>
                </div>
            </div>
        </section>

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}{% endembed %}     
    </body>
</html>