<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}

      <body class='l-society__bg'> 

        <header class='l-society__header'>
            <div class='l-header__content u-padding-top-5'>
                <div class='l-block u-type-center'>
                    <img class='u-image-no-shadow u-image-no-responsive' src='{{theme.link}}/images/society-label.svg'>
                    <h1 class='u-margin-bottom-none u-color-primary'>{{wp_title}}</h1>
                    <p class='l-society__subtitle'>{{post.get_field('chinese_title')}}</p>
                </div>
            </div>
        </header>
 
        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module--1col'>
                    <div>
                        <p class='u-dropcap'>{{post.get_field('intro_description')}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class='l-section'>
            <div class='l-section__bg-container u-margin-top-3 u-margin-bottom-3'>
                <div class='l-section__bg' style='background-image: url("{{TimberImage(post.get_field('intro_image')).src ?: post.thumbnail.src}}"); background-size: cover; background-position: center;'></div>
            </div>
        </section>

        <section class='l-section u-margin-top-2'> 
            <div class='l-section__content'>
                <div class='l-society__details'>
                    {% for meta in post.get_field('meta') %}
                        <div class='l-society__details-item'>
                            <span class='o-label u-block u-margin-bottom-0'>{{meta.label}}</span>
                            {% for val in meta.values %}
                                {% if val.link %}
                                    <a class='o-link u-margin-none' href='{{val.link}}' target='_blank'>{{val.value}}</a>
                                {% else %}
                                    <p class='u-margin-none'>{{val.value}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% include 'modules/content.twig' %}

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}{% endembed %}     
    </body>
</html>