<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}

      <body class='l-society__bg'> 

        <header class='l-society__header'>
            <div class='l-section__bg' style='background-image: url("{{TimberImage(post.get_field('intro_image')).src ?: post.thumbnail.src}}"); background-size: cover; background-position: center; opacity: 0.4;'></div>
            <div class='l-section__bg' style='background: white; z-index:-15;'></div>
            <div class='l-header__content'>
                <div class='l-block u-type-center'>
                    <h1 class='u-margin-bottom-none'>{{post.title}}</h1>
                    <p class='l-society__subtitle'>{{post.get_field('chinese_title')}}</p>
                </div>
                <div class='l-module'>
                    <a href='{{ site.link }}/societies#soc' class='o-button--solid-secondary u-inline-block'><span class='fa fa-long-arrow-left'></span> Back to Societies</a>
                </div>
            </div>
        </header>
 
        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module--1col u-flex-justify-left'>
                    <p class='u-dropcap u-margin-top-none u-type-respond-1 u-color-heading u-type-contain-large' style='flex: 1 1 750px;'>{{post.get_field('intro_description')}}</p>
                    
                    {% include 'modules/share.twig' %}
                </div>
            </div>
        </section>

        {% if not post.get_field('meta') is empty %}
            <section class='l-section'>
                <div class='l-section__content'>
                    <div class='l-society__details'>
                        <div>
                            <img src='{{post.thumbnail.src | resize(600,300)}}'>
                        </div>
                        <div>
                            {% for meta in post.get_field('meta') %}
                                <div class='l-society__details-item'>
                                    <span class='o-label u-block u-margin-bottom-0'>{{meta.label}}</span>
                                    {% for val in meta.values %}
                                        {% if val.link %}
                                            <a class='o-link u-color-primary u-margin-none' href='{{val.link}}' target='_blank'>{{val.value}}</a>
                                        {% else %}
                                            <p class='u-margin-none u-color-secondary-accent'>{{val.value}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}                        
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% include 'modules/content.twig' %}



        

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}{% endembed %}     
    </body>
</html>