<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}

      <body class='l-society__bg'> 
        <section class='l-section u-padding-top-8'>
            <div class='l-section__bg-container'>
                <div class='l-section__bg' style='background-image: url("{{TimberImage(post.get_field('intro_image')).src ?: post.thumbnail.src}}"); background-size: cover; background-position: center;'></div>
            </div>
        </section>

        <header class='l-society__header'>
            <div class='l-header__content'>
                <div class='l-block u-type-center'>
                    <h1 class='u-margin-bottom-none'>{{post.title}}</h1>
                    <p class='l-society__subtitle'>{{post.get_field('chinese_title')}}</p>
                </div>
            </div>
        </header>
 
        <section class='l-section'>
            <div class='l-section__content'>
                <div class='l-module--2col u-flex-align-start'>
                    <div class='l-society__intro'>
                        <p class='u-dropcap'>{{post.get_field('intro_description')}}</p>
                    </div>
                    <div class='l-society__details'>
                        {% for meta in post.get_field('meta') %}
                            <div class='l-society__details-item'>
                                <span class='o-label u-block u-margin-bottom-0'>{{meta.label}}</span>
                                {% for val in meta.values %}
                                    {% if val.link %}
                                        <a class='o-link u-margin-none' href='{{val.link}}' target='_blank'>{{val.value}}</a>
                                    {% else %}
                                        <p class='u-margin-none'>{{val.value}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% include 'modules/content.twig' %}

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}{% endembed %}     
    </body>
</html>